* {
  padding: 0;
  margin: 0;
  box-siing: border-bxo;
}
body {
  background-color: black;
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
